@import "../assets/index.scss";

.buy {
  .ttl {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 80px;
    line-height: 98px;
    color: $primary-color;
    text-align: center;
    margin: 324px 0 14px;
  }

  p {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    color: #737373;
    text-align: center;
    margin-bottom: 36px;
  }

  form {
    text-align: center;

    input,
    button {
      width: 464px;
      padding: 20px 30px;
      border: 1px solid #ab49ad;
      outline: none;
      margin-bottom: 18px;
      border-radius: 100px;
      box-shadow: 1px 1px 1px 1px #ab49ad3b;
    }

    ::placeholder {
      font-family: "Montserrat";
      padding-left: 2px;
      color: $primary-color;
      font-size: 14px;
    }
  }

  button {
     width: 530px !important;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    box-shadow: none !important;
    border: none !important;
    color: #fff;
    text-transform: uppercase;
  }

  .buy {
    background: linear-gradient(
      129.04deg,
      #fdab2f 8.28%,
      rgba(255, 98, 154, 0.94) 51.96%,
      #7c0deb 99.16%
    );
    
  }

  .cancel {
    background-color: #737373;
  }

  @media screen and (max-width: $phone) {
    .ttl {
      font-size: 30px;
      line-height: 43px;
      padding: 0 10px;
      margin: 120px 0 50px 0;
    }
    p {
      font-size: 20px;
      line-height: 24px;
    }

    form {
      input {
        width: 300px;
      }
      .buy {
        width: 360px!important;
      }
      .cancel {
        width: 360px!important;
      }
    }
  }
}
