@import "../assets/index.scss";
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  margin: 41px 0 0;
  padding-bottom: 30px;
  position: relative;

  &::after {
    content: '';
    display: block;
    left: -1000px;
    right: -1000px;
    top: 0;
    bottom: 0;
    position: absolute;
    box-shadow: 0 0 12px rgba(0,0,0, .15);
  }

  p {
    font-family: "Montserrat";
    font-size: 18px;
    color: $primary-color;
    line-height: 28px;
    margin-top: 37px;
  }

  img {
    margin-top: 54px;
  }

  .line {
    position: absolute;
    background-color: #ab49ad;
    width: 116px;
    height: 1px;
    transform: rotate(90deg);
    right: 48px;
    left: 0;
    top: 8px;
    bottom: 0;
    margin: auto;
  }
}
