@import "../assets/index.scss";

.main {
  display: flex;

  .top-module {
    flex: 1;
    margin-right: 57px;

    .ttl {
      font-family: "Montserrat";
      font-weight: bold;
      font-size: 64px;
      color: $primary-color;
      margin: 6vw 0;
      line-height: 78px;
    }

    button {
      font-family: "Montserrat";
      width: 100%;
      font-weight: 700;
      font-size: 20px;
      color: #fff;
      padding: 16px 0;
      outline: none;
      border: none;
      background: linear-gradient(
        129.04deg,
        #fdab2f 8.28%,
        rgba(255, 98, 154, 0.94) 51.96%,
        #7c0deb 99.16%
      );
      border-radius: 100px;
    }
  }

  .macbook {
    img {
      z-index: 1;
    }

    @media screen and (max-width: $maxLaptop) {
      img {
        width: 800px;
      }
    }

    @media screen and (max-width: $phone) {
      position: absolute;
      top: 210px;
      left: 50%;
      img {
        width: 500px;
      }
    }
  }

  @media screen and (max-width: $phone) {
    display: block;
    .top-module {
      margin: 0;
      .ttl {
        margin: 200px 0 100px 20px;
        font-size: 40px;
        line-height: 50px;
      }

      button {
        width: 300px;
        margin: 0 auto;
        display: block;
      }
    }
  }
}
