@import "../assets/index.scss";

.module {
  h1 {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 55px;
    line-height: 74px;
    color: $primary-color;
    text-align: center;
    margin: 271px 0 154px;
  }

  ul {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align-last: left;
    gap: 23px;
    list-style-type: none;

    .line {
      position: absolute;
      background-color: $accent-color;
      width: 324px;
      height: 1px;
      transform: rotate(90deg);
      right: 80px;
      left: 0;
      top: 36px;
      bottom: 0;
      margin: auto;

      @media screen and (max-width: 800px) {
        width: 500px;
        right: 0;
        left: 28px;
      }
    }

    li {
      display: flex;
      gap: 13px;
      text-align: left;
      font-size: 24px;
      line-height: 32px;
      color: $secondary-color;

      img {
        width: 16px;
        height: 9px;
        margin-top: 12px;
      }
    }
  }
  @media screen and (max-width: $phone) {
    margin: 64px 0 0 0;
    h1 {
      font-size: 35px;
      line-height: 47px;
      margin: 0 10px;
    }
    ul {
      gap: 0;
      padding: 0 10px;
      margin-top: 80px;
      li {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 15px;

        img {
          width: 10px;
          height: 6px;
          margin-top: 7px;
        }
      }
      .line {
        right: 42px;
        top: 0;
        bottom: 0;
        width: 314px;
      }
    }
  }
}

@media screen and (max-width: 385px) {
  .line {
    display: none;
  }
}
