@import "../assets/index.scss";

.nav-logo {
  margin: 50px 0;
  img {
    cursor: pointer;
  }
  @media (max-width: $phone) {
    margin: 50px 20px;
    img {
      width: 220px;
    }
  }
}

.nav-menu-button {
  position: fixed;
  top: 0;
  right: 0;
  padding: 30px 4vw 0 4vw;
  cursor: pointer;

  @media (max-width: $phone) {
    margin: 55px 8vw 0 8vw;
    position: absolute;
    padding: 0;
    img {
      width: 60px;
    }
  }
}

.nav-menu {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 4vw;
  background: white;
  width: 386px;
  padding: 50px 10px 50px 46px;
  list-style: none;
  background-image: url('../assets/images/bac-manu.png');
  background-repeat: no-repeat;
      background-size: 442px 476px;


  &-close {
    width: 25px;
    height: 37px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    fill: #3b3c3e;
  }

  img {
    margin: auto;
    display: block;
    user-select: none;
    opacity: 70%;
  }

  li {
    color: #3b3c3e;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 18px;
    line-height: 19px;
    margin: 32px 20px;
    cursor: pointer;
    user-select: none;
    position: relative;
    opacity: 70%;

    &::before {
    content: url('../assets/images/data-pilot.svg');
    position: absolute;
    left: -36px;
}
  }

  @media screen and (max-width: $phone) {
    top: 0;
    left: 0;
    margin: 0;
    bottom: 0;
    right: 0;
    width: 90%;
    padding: 20px;
    background-size: 100% 100%;
    img {
      margin: 0 0 60px 0;
    }
    &-close {
      right: 20px;
    }
    li {
      font-size: 16px;
      margin: 36px 44px 36px;
    }
  }
}
