@import "../assets/index.scss";

.scenarios {
  .ttl {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    color: $primary-color;
    text-align: center;
    margin: 327px 0 106px;
  }

  .option-content {
    display: flex;
    gap: 44px;

    div {
      background-color: #fff;
      border-radius: 20px;
      padding: 29px 21px 75px 34px;
      height: auto;
      width: 520px;

      h3 {
        font-family: "Montserrat";
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: $accent-color;
        margin-bottom: 12px;
      }

      p {
        font-family: "Montserrat";
        font-size: 18px;
        line-height: 24px;
        color: $primary-color;
        padding: 5px 0;
      }
    }
  }

  @media screen and (max-width: $phone) {
    .ttl {
      font-size: 30px;
      line-height: 43px;
      padding: 0 10px;
      margin: 120px 0 50px 0;
    }

    .option-content {
      display: block;
      div {
        margin: 20px auto 40px auto;
        width: 85%;  
        padding: 10px;
        p {
          // font-size: 18px;
        }
      }
    }
  }
}
