@import "../assets/index.scss";

.technical {
  .ttl {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 55px;
    line-height: 74px;
    color: $primary-color;
    text-align: center;
    margin: 50vh 0 30px;
  }

  .block {
    &::after {
      content: '';
      display: block;
      left: -1000px;
      right: -1000px;
      top: 0;
      bottom: 0;
      position: absolute;
      background-color: white;
    }
    position: relative;
    ul {
      position: relative;
      z-index: 2;
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align-last: left;
      gap: 32px;
      list-style-type: none;
      padding: 64px 0 88px;
      
      li {
        display: flex;
        gap: 18px;
        text-align: left;
        font-size: 26px;
        line-height: 35px;
        color: $secondary-color;

        img {
          width: 9px;
          height: 9px;
          margin-top: 14px;
        }
      }
    }
  }
}
