.line1 {
  left: 0;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.line2 {
  right: 0;
  position: absolute;
  z-index: -2;
}

.line3 {
  left: 0;
  top: 270px;
  width: 100%;
  position: absolute;
  z-index: -3;
}

.line4 {
  left: 0;
  width: 100%;
  top: 500px;
  position: absolute;
  z-index: -4;
}

.line5 {
  left: 0;
  width: 100%;
  top: 1586px;
  position: absolute;
  z-index: -5;
}