@import "../../assets//styles//variables";

.line1 {
  left: 0;
  width: 100%;
  position: absolute;
  z-index: -1;
  @media (max-width: $phone) {
    display: none;
  }
}

.line2 {
  right: 0;
  position: absolute;
  z-index: -2;
  @media (max-width: $phone) {
    display: none;
  }
}

.line3 {
  left: -200px;
  top: 0;
  width: 100%;
  position: absolute;
  z-index: -3;
  width: 1920px;

  @media (max-width: $phone) {
    left: 0;
    top: -400px;
    width: 1000px;
  }
}

.line4 {
  left: 0;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: -4;
  width: 1920px;
}

.line5 {
  left: 0;
  width: 100%;
  top: 1160px;
  position: absolute;
  z-index: -5;
  width: 1920px;
}