body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3,p {
  margin: 0;
  padding: 0;
}

.main-background {
  background-image: url(./assets/images/back.svg);
  overflow: hidden;
}

.main-container {
  max-width: 1300px;
  margin: 0 60px;
  position: relative;
  
}