$primary-color: #3B3C3E;
$secondary-color: #000000;
$accent-color: #AB49AD;

$border-dark: rgba($primary-color, 0.88);

$phone: 480px;
$tablet: 768px;
$middle: 1260px;
$laptop: 1366px;
$maxLaptop: 1440px;